@model IEnumerable<AhmerMYWebDemo.Models.Employees>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.E_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Password)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.E_ConfirmPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.E_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Email)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.E_Address)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_ConfirmPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.E_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.E_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.E_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
