@model IEnumerable<AhmerMYWebDemo.Models.Departments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome Department</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Departments
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.E_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dep_Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Employees.E_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Dep_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Dep_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Dep_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
