@model ShoppingCart.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PImage)
        </dt>
        <dd class = "col-sm-10">
           <img src=" @Html.DisplayFor(model => model.PImage)" width="50" height="50" style="border-radius:50px;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
